
/* GENERAL */

.appContainer {
    overflow-x: hidden;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    
}

/* ALL content not part of the footer should go in a container */
.nonFooterWrapper{
    flex: 1 0 auto;
}

.pageContainer{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    background: rgb(108,193,182);
    background: -moz-linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    background: -webkit-linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    background: linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cc1b6",endColorstr="#095985",GradientType=1);

}



/* ----------------------------------------------------------------- */


/* SEARCH NAV */

/* 
NOTE: 
This is used bc my search input (.inputDropdownWrapper) needs to be absolutely 
positioned relative to this navbar (.mainNav) parent element. This allows the 
drop-down menu suggestions to overlay my content instead of it pushing my content 
downward to make space for itself
*/
.mainNav {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}


/*  
NOTE:
This is just a container around my <LocationSearchInput /> tag. It's a trick to help 
prevent my search input from overflowing it's parent Navbar (.mainNav) more especially 
on smaller screen widths (280px-575px.) Elements on page ignore absolutely positioned
elements, but this wrapper won't be ignored
*/
.searchInputTagWrapper {
    /* height: see media queries; */
    /* margin-top: see media queries; */
}

/* .brandLogo {
    height: 5rem;
    width: auto;
} */

.brandName {
    color: white !important;
}

.navLinks {
    color: white !important;
}






/* ----------------------------------------------------------------- */


/* LOCATION SEARCH INPUT */

/* 
NOTE:
This allows the drop-down menu suggestions to overlay my content instead of it pushing 
my content downward to make space for itself
*/
.inputDropdownWrapper {
    position:absolute;
    z-index: 1;
}

.location-search-input {
    border-radius: 1rem;
    border: none;
    box-shadow: 1.5px 1.5px 5px 1px rgb(77, 77, 77);
    text-align: center; /* aligns placeholder & caret center */
    caret-color: teal;
}

.location-search-input:focus {
    /* outline: none; */
    outline-color: teal;
}

.location-search-input:focus::placeholder {
    color: transparent; /* hides placeholder text when input is clicked */
}
/* For IE Browsers */
.location-search-input:focus:-ms-input-placeholder {
    color: transparent;
}

.autocomplete-dropdown-container {
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    overflow: hidden; /* allows dropdown to take on border-radius shape */
}



/* ----------------------------------------------------------------- */


/* HOME */


.homeWeatherRow {
    color: black;
    background-color: #dadcfb60;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.newsContainer {
    width: 80vw;
    height: auto;
    background-color: #0F3D5C !important;
    border-radius: 1rem !important;
    margin-bottom: 2rem;
}

#articleHeadline {
    text-align: center;
}

#articleTrailText {
    text-align: center;
}



/* ----------------------------------------------------------------- */


/* TODAY */

    /* GENERAL */

    .todayContentWrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .weatherNewsContainer {
        width: 90vw;
        height: auto;
        border-radius: 1rem;
        overflow: hidden;
        margin-top: 1.75rem !important; 
    }


    /* NEWS */

    .todayAside {
        border-radius: 1rem;
        background-color: #0F3D5C;
    }

    .worldNewsHeadline {
        color: white;
    }


    /* BOTH WEATHER CARDS */

    .weatherCard {
        color: white;
        background-color: #0F3D5C !important;
        border-radius: 1rem !important;
    }

    .currentTodayWeatherRows {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        margin-bottom: 1rem;
    }

    .tempContainer {
        position: relative;
        
    }


    /* CURRENT WEATHER CARD */

    .windCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .humidityCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .uvCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }


    /* AIR QUAL INDEX & UV INDEX CARDS */

    .uvAICardsSection {
        color: white;
        background-color: #0F3D5C !important;
        border-radius: 1rem !important;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .uvAICards {
        border: none !important;
    }

    .aiCard {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(351deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(351deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(351deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);
    }

    .uvCard {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(14deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(14deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(14deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);
    }

    #aqiCircleColor {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 0.65rem;
    }

    #uvCircleColor {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 0.65rem;
    }

    #creditGovText {
        color:#FF7722 !important;
    }


    /* TODAYS WEATHER CARD */

    .hiLoCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(20deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(20deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(20deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .popCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(190deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(190deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(190deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .visibilityCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(302deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(302deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(302deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .pressureCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(340deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(340deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(340deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .dewPointCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(0deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(0deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .cloudCoverCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(8deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(8deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(8deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .sunriseCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(246deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(246deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(246deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }

    .sunsetCol {
        background: rgb(15,61,92);
        background: -moz-linear-gradient(175deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: -webkit-linear-gradient(175deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        background: linear-gradient(175deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

        border-radius: 0.5rem;
    }



/* ----------------------------------------------------------------- */


/* FIVE DAY, TEN DAY, WEEKEND WEATHER */

.accordionSection {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.accordion-button::after {
    margin-right: -1.3rem;
}

button.accordion-button {
    background: rgb(15,61,92);
    background: -moz-linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

    color: white !important;
}

button.accordion-button:focus {
    box-shadow: none !important;
}

button.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

div.accordion-item {
    background: rgb(15,61,92);
    background: -moz-linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(200deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);  
    
    color: white;
}


/* ----------------------------------------------------------------- */


/* FOOTER */

.footer {
    flex-shrink: 0;
    padding: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

.footerLinks {
    color: white;
}

.footerLinks:hover {
    color: #FF7722;
}

.connectWithUs {
    color: white;
    font-weight: bold;
}

.socMediaLinks {
    color: #095985;
}

.socMediaLinks:hover {
    color: #FF7722;
}

.socMediaLinks {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}


/* ----------------------------------------------------------------- */


/* MEDIA QUERIES */


/*  MIN WIDTH 280px -- GALAXY FOLD  */
@media only screen and (min-width: 280px) {
    /* SEARCH NAV */
        .navBrandCol {
            order: 1;
        }

        .navFormCol {
            order: 3; 
        }

        .navToggleCol {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }

        .brandName {
            font-size: 1.3rem;
        }

        .searchInputTagWrapper {
            height: 2.5rem;
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
        }

        .navLinks:hover {
            font-size: 1.1rem;
            color: #FF7722 !important;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 15rem;
        }

        .autocomplete-dropdown-container {
            width: 15rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.05rem;
        }

        .newsContainer {
            margin-top: 1.5rem;
        }

        .imgWrap {
            display: flex;
            justify-content: center;
        }

        #articleImg {
            width: 10rem;
            height: auto;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .weatherNewsContainer {
            flex-direction: column;
            margin-top: 1rem;
        }

        .weatherCard {
            width: 88vw;
            padding: 0.5rem 1rem 0rem 1rem;
        }

        .weatherCardCurrently {
            width: 88vw;
        }


        .weatherImgContainer {
            order: 2;
            margin-left: 0.75rem;
        }

        .currentTemp {
            order: 1;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
        
        .conditionsCol {
           margin-bottom: 0.75rem;
           padding: 1rem;     
        }


        /* AQI & UV INDEX CARDS */

        .uvAICards {
            width: 88vw;
            border-radius: 1rem !important;
            margin-left: auto;
            margin-right: auto;
        }

        .aiCard {
            margin-bottom: 1rem;
        }


        /* TODAYS WEATHER */



        /* WORLD NEWS */
        
        .newsCard {
            width: 75vw;
        }

        .worldNewsCol {
            margin-top: 2.5rem;
        }

        .todayAside {
            padding: 1.2rem;
        }

        #articleHeadlineToday {
            font-size: 1rem;
        }

        #articleTextToday {
            font-size: 0.8rem;
        }

    
    /* FIVE DAY WEATHER */

        .accordion {
            width: 90vw;
        }

        .accordionItemMargin {
            margin-bottom: 0.75rem;
        }

        button.accordion-button {
            display: flex;
            flex-direction: column;
            
        }

        .dailyDateImgTempCol {
            justify-content: center;
        }

        .dailyDescriptionCol {
            margin-top: 0.5rem;
            margin-bottom: 0.75rem;
            justify-content: center;
        }

        .dailyPopWindCol {
            justify-content: center;
        }

        .dailyConditionsContainer {
            border-bottom: 2px solid #FF7722;
            padding-bottom: 0.35rem;
            margin-bottom: 1.5rem;
        }

        .dailyWeatherImg {
            height: 60px;
            width: auto;
        }

        .dailyCondMargin {
            margin-right: 1rem;
        }

        .dailyWeatherIcons {
            margin-right: 0.5rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 1.1rem;
        }

        .connectWithUs {
            font-size: 1.1rem;
        }

        .socMediaIcons {
            font-size: 1.2rem;
        }

        .footerRight {
            margin-top: 1.5rem;
        }
}





/*  MIN WIDTH 320px  */
@media only screen and (min-width: 320px) {
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 1.8rem;
        }

    
    /* HOME */
        #articleImg {
            width: 11.5rem;
            height: auto;
        }

    
    /* TODAY */

        /* TODAYS WEATHER */

        .uvAICards {
            width: 80vw;
        }
    
    
    /* FIVE DAY WEATHER */
        .accordion-header {
            padding-right: 1rem;
        }
        
}





/* MIN WIDTH 375px MAX HEIGHT 823px 
   iPhone6/7/8/X, LG OptimusL70, Pixel2/2XL, Nexus5X  */
   @media only screen and (min-width: 375px) and (max-height: 823px) {
    /* NAVBAR */

}





/* WIDTH 412px HEIGHT 914 
   SAMSUNG GALAXY   */
@media only screen and (width: 412px) and (height: 914px) {
    /* NAVBAR */

}




/*  MIN WIDTH 448px  */
@media only screen and (min-width: 448px) {
    /* TODAY */

        /* CURRENT WEATHER */

        .weatherCard {
            width: 85vw;
        }

        .weatherCardCurrently {
            width: 85vw;
        }

        


        /* TODAYS WEATHER */

        .uvAICards {
            width: 75vw;
        }


        /* WORLD NEWS */

        .newsCard {
            width: 60vw;
        }

        #articleTextToday {
            font-size: 0.9rem;
        }
}





/*  MIN WIDTH 576px  */
@media only screen and (min-width: 576px) {
    /* NAVBAR */
        .navFormCol {
            order: 2; 
        }

        .navToggleCol {
            order: 3;
        }

        .searchInputTagWrapper {
            height: 0rem;
            margin-top: 0rem;
        }

        .navLinks {
            font-size: 1.05rem;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 2rem;
        }


    /* HOME */
        #articleImg {
            width: 13rem;
            height: auto;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .cityToday {
            font-size: 1.06rem !important;
        }

        .descriptionToday {
            font-size: 1.2rem;
        }

        .currentTemp {
            font-size: 2.5rem;
        }

        #fahrenheit {
            font-size: 1.4rem;
        }

        .weatherIcons {
            font-size: 1.1rem;
        }

        .windCol {
            margin-left: auto;
            margin-right: auto;
        }

        .humidityCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }

        .uvCol {
            margin-right: auto;
        }


        /* AQI & UV INDEX CARDS */

        .uvAICardsContainer {
            display: flex;
        }

        .uvAICards {
            width: 40vw;
        }

        .aiCard {
            margin-bottom: 0rem;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 1.06rem !important;
        }

        .hiLoCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }
        
        .popCol {
            margin-right: auto;
        }

        .visibilityCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }

        .dewPointCol {
            margin-left: 0rem;
            margin-right: auto;
        }
        
        .cloudCoverCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }
        
        .pressureCol {
            margin-right: auto;
            margin-left: 0rem;
        }

        .sunriseCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }

        .sunsetCol {
            margin-right: auto;
        }

        /* WORLD NEWS */

        .newsCard {
            width: 50vw;
        }

        #articleHeadlineToday {
            font-size: 1.1rem;
        }

        #articleTextToday {
            font-size: 0.9rem;
        }


    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */
        
        .cityName {
            font-size: 1.1rem;
        }

        .weekendSubtitle {
            font-size: 1.1rem;
        }

        .accordion {
            width: 85vw;
        }

        button.accordion-button {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .dailyDescriptionCol {
            margin-top: 0rem;
            margin-bottom: 0rem;
        }

        .dailyPopWindCol {
            margin-top: 0.5rem;
        }

        .dailyConditionsContainer {
            border-bottom: none;
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }

        .dailyUVContainer {
            border-bottom: 2px solid #FF7722;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .dailyHumidContainer {
            border-bottom: 2px solid #FF7722;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
        }

        button.accordion-button.collapsed::after {
            border: 2px solid black !important;
            border-radius: 50%;
            background-color: rgb(37, 37, 37);
        }
        
        button.accordion-button::after {
            border: 2px solid black !important;
            border-radius: 50%;
            background-color: rgb(37, 37, 37);
        }

        .dailyWeatherImg {
            height: 62px;
            width: auto;
        }


    /* FOOTER */
        
        .footerCols {
            display: flex;
            justify-content: center;
        }

        .footerRight {
            margin-top: 0rem;
        }

        .connectWithUs {
            display: flex;
            justify-content: flex-end;
        }

        .socMedIconContainer {
            display: flex;
            justify-content: flex-end;
        }
}





/*  MIN WIDTH 768px  */
@media only screen and (min-width: 768px) {
    /* NAVBAR */
        .navToggleCol {
            /* display: none; */
            visibility: hidden;
        }

        .brandName {
            font-size: 1.4rem;
        }

        .navLinksWrapper {
            display: flex;
            justify-content: space-around;
        }

        .navLinks {
            font-size: 1.1rem;
        }

        .navLinks:hover {
            border-bottom: 3px solid #FF7722;
            padding-bottom: 3px;
            font-size: 1.1rem;
            color: white !important;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 17rem;
        }

        .autocomplete-dropdown-container {
            width: 17rem;
        }


    /* HOME */

        #articleImg {
            width: 14.5rem;
            height: auto;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .weatherCard {
            width: 78vw;
        }

        .weatherCardCurrently {
            width: 78vw;
        }

        .cityToday {
            font-size: 1.12rem !important;
        }

        .descriptionToday {
            font-size: 1.4rem;
        }

        .currentTemp {
            font-size: 3rem;
        }

        #fahrenheit {
            font-size: 1.8rem;
        }

        .feelsLike {
            font-size: 1.1rem;
        }

        .conditions {
            font-size: 1.12rem;
        }


        /* AQI & UV INDEX CARDS */

        .uvAICards {
            width: 35vw;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 1.12rem !important;
        }

 
        /* WORLD NEWS */
        .newsCard {
            width: 40vw;
        }

        #articleHeadlineToday {
            font-size: 1.1rem;
        }

        #articleTextToday {
            font-size: 1rem;
        }

    
    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .cityName {
            font-size: 1.2rem;
        }

        .weekendSubtitle {
            font-size: 1.2rem;
        }

        button.accordion-button {
            flex-direction: row;
        }

        .accordion {
            background-color: #0F3D5C;
            padding: 2rem;
            border-radius: 1rem;
        }

        .dailyWeatherImg {
            height: 64px;
            width: auto;
        }
}





/* WIDTH 768px HEIGHT 1024px 
   iPAD MINI   */
   @media only screen and (width: 768px) and (height: 1024px) {
    /* HOME */

}





/* WIDTH 800px HEIGHT 1280px
   Kindle Fire HDX, NEXUS 10   */
@media only screen and (width: 800px) and (height: 1280px) {
    /* HOME */

}





/* WIDTH 820px HEIGHT 1180px 
   iPAD AIR   */
@media only screen and (width: 820px) and (height: 1180px) {
    /* HOME */

}





/* WIDTH 912px HEIGHT 1368px 
   SURFACE PRO 7    */
   @media only screen and (width: 912px) and (height: 1368px) {
    /* HOME */

}





/*  MIN WIDTH 992px  */
@media only screen and (min-width: 992px) {
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 2.1rem;
        } 
        
        
    /* HOME */
        #articleImg {
            width: 16rem;
            height: auto;
        }

        .imgWrap {
            justify-content: flex-start;
            align-items: center;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .weatherNewsContainer {
            flex-direction: row;
        }

        .weatherCard {
            width: 65vw;
        }

        .weatherCardCurrently {
            width: 68vw;
        }

        .cityToday {
            font-size: 1.18rem !important;
        }

        .descriptionToday {
            font-size: 1.6rem;
        }

        .currentTemp {
            font-size: 3.5rem;
        }

        #fahrenheit {
            font-size: 2.2rem;
        }

        .weatherIcons {
            font-size: 1.2rem;
        }

        .windCol {
            margin-left: auto;
            margin-right: 0rem;
        }

        .humidityCol {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .uvCol {
            margin-right: auto;
        }

        
        /* AQI & UV INDEX CARDS */

        .uvAICards {
            width: 27vw;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 1.18rem !important;
        }

        .visibilityCol {
            margin-right: auto;
        }


        /* WORLD NEWS */

        .worldNewsCol {
            margin-top: 0rem;
        }

        .todayAside {
            height: 74rem;
            overflow-x: none;
            overflow-y: auto;            
        }

        .newsCard {
            width: 17vw;
        }


    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .cityName {
            font-size: 1.3rem;
        }

        .weekendSubtitle {
            font-size: 1.3rem;
        }

        .accordion {
            width: 80vw;
        }

        .dailyDateImgTempCol {
            justify-content: flex-start;
        }

        .dailyPopWindCol {
           justify-content: flex-end;
        }

        .dailyWeatherImg {
            height: 66px;
            width: auto;
        }

}





/* WIDTH 1024px / HEIGHT 600px  
   NEST HUB   */
   @media only screen and (width: 1024px) and (height: 600px) {
    /* HOME */

}





/* WIDTH 1024px HEIGHT 1366px
   iPad Pro  */
@media only screen and (width: 1024px) and (height: 1366px) {
    /* HOME */

}





/*  MIN WIDTH 1200px  */
@media only screen and (min-width: 1200px) {
    /* NAVBAR */
        .navLinks {
            font-size: 1.15rem;
        }

        .navLinks:hover {
            font-size: 1.15rem;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 19rem;
        }

        .autocomplete-dropdown-container {
            width: 19rem;
        }


    /* HOME */
        #articleImg {
            width: 17.5rem;
            height: auto;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .cityToday {
            font-size: 1.24rem !important;
        }

        .descriptionToday {
            font-size: 1.8rem;
        }

        .currentTemp {
            font-size: 4rem;
        }

        #fahrenheit {
            font-size: 2.6rem;
        }

        .conditionsCol {
            padding: 1.75rem;     
        }


        /* TODAYS WEATHER */
        
        #currentlyText {
            font-size: 1.24rem !important;
        }


        .hiLoCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }
        
        .popCol {
            margin-right: 0rem;
        }

        .visibilityCol {
            margin-left: 0.5rem;
            margin-right: auto;
        }

        .pressureCol {
            margin-left: 0.5rem;
            margin-right: auto;
        }

        .dewPointCol {
            margin-left: auto;
            margin-right: 0.5rem;
        }

        .cloudCoverCol {
            margin-left: 0rem;
            margin-right: 0rem;
        }


        /* WORLD NEWS */

        .todayAside {
            height: 76rem; 
        }

        .newsCard {
            width: 14vw;
        }


    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .cityName {
            font-size: 1.4rem;
        }

        .weekendSubtitle {
            font-size: 1.4rem;
        }

        .dailyWeatherImg {
            height: 68px;
            width: auto;
        }
}





/* WIDTH 1280px HEIGHT 800px  
   NEST HUB MAX  */
   @media only screen and (width: 1280px) and (height: 800px) {
    /* HOME */

 }





/*  MIN WIDTH 1400px  */
@media only screen and (min-width: 1400px) {
    /* NAVBAR */
        .brandName {
            font-size: 1.5rem;
        }

        .navLinks {
            font-size: 1.2rem;
        }

        .navLinks:hover {
            font-size: 1.2rem;
        }
        

    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 21rem;
        }

        .autocomplete-dropdown-container {
            width: 21rem;
        }


    /* HOME */
        #articleImg {
            width: 19rem;
            height: auto;
        }
    

    /* TODAY */

        /* CURRENT WEATHER */

        .cityToday {
            font-size: 1.3rem !important;
        }

        .descriptionToday {
            font-size: 2rem;
        }

        .currentTemp {
            font-size: 4.5rem;
        }

        #fahrenheit {
            font-size: 3rem;
            margin-top: 0.5rem;
        }

        .feelsLike {
            font-size: 1.2rem;
        }

        .conditionsCol {
            padding: 2.5rem;     
        }

        .weatherIcons {
            font-size: 1.3rem;
        }

        .conditions {
            font-size: 1.25rem;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 1.3rem !important;
        }


        /* WORLD NEWS TODAY */

        .todayAside {
            height: 82rem; 
        }


    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .accordion {
            width: 75vw;
        }   

        .cityName {
            font-size: 1.5rem;
        }

        .weekendSubtitle {
            font-size: 1.5rem;
        }

        .dailyWeatherImg {
            height: 70px;
            width: auto;
        }

        .dailyCondMargin {
            margin-right: 1.5rem;
        }

}





/* MIN WIDTH 2560px
   MacBook PRO 13"   */
@media only screen and (min-width: 2560px) {
    /* NAVBAR */
        .brandName {
            font-size: 2.75rem;
        }

        .navLinks {
            font-size: 2.2rem;
        }

        .navLinks:hover {
            font-size: 2.2rem;
            border-bottom: 5px solid #FF7722;
        }

    
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 38.5rem;
            height: 2.5rem;
            margin-top: 1rem;
        }

        .autocomplete-dropdown-container {
            width: 38.5rem;
        }

        .location-search-input::placeholder {
            font-size: 1.83rem; 
        }

        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 1.83rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.9rem;
        }

        .newsContainer {
            margin-top: 2.75rem;
        }

        .weatherNewsHeader{
            font-size: 4rem;
        }

        #articleImg {
            width: 34rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.25rem;
        }

        #articleTrailText {
            font-size: 1.75rem;
        }


    /* TODAY */

    .weatherNewsContainer {
        margin-top: 3.2rem !important; 
    }

        /* CURRENT WEATHER */
        
        .currentTodayWeatherRows {
            margin-bottom: 1.83rem;
            padding-left: 1.5rem !important;
            padding-top: 1.5rem !important;
        }

        .weatherCard {
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;
        }

        .cityToday {
            font-size: 2.4rem !important;
        }

        .currentTime {
            font-size: 1.83rem;
        }

        .descriptionToday {
            font-size: 3.66rem;
        }

        .currentTemp {
            font-size: 8.24rem;
        }

        #fahrenheit {
            font-size: 5.49rem;
        }

        .weatherImgToday {
            height: 250px;
            width: auto;
        }

        .feelsLike {
            font-size: 2.2rem;
        }

        .conditionsCol {
            padding: 4.5rem;     
        }

        .humidityCol {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .weatherIcons {
            font-size: 2.4rem;
        }

        .conditions {
            font-size: 2.3rem;
        }
    

        /* AQI AND UV INDEX  */

        .uvAICardsSection {
            padding-top: 2.3rem;
            padding-bottom: 2.3rem;
        }

        .aqiUvCardBody {
            padding: 2rem !important;
        }

        #aqiCircleColor {
            height: 37px;
            width: 37px;
        }
    
        #uvCircleColor {
            height: 37px;
            width: 37px;
        }

        .aqiUvTitle {
            font-size: 2.3rem !important;
        }

        .aqiUvSubtitle {
            font-size: 2rem !important;
        }

        .aqiUvText {
            font-size: 1.85rem !important;
        }

        .creditGovText {
            font-size: 1.4rem !important;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 2.4rem !important;
        }

        .popCol {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .cloudCoverCol {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .sunriseCol {
            margin-right: 0.75rem;
        }


        /* WORLD NEWS */

        .todayAside {
            padding: 2.1rem;
            height: 151rem;
        }

        .worldNewsHeadline {
            font-size: 2.75rem;
        }

        #articleHeadlineToday {
            font-size: 2rem;
        }

        #articleTextToday {
            font-size: 1.83rem;
        }


    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .accordionSection {
            margin-top: 2.75rem;
            margin-bottom: 2.75rem;
        }

        .forecastHeader {
            font-size: 3.5rem;
        }

        .cityName {
            font-size: 2.75rem;
        }

        .accordionItemMargin {
            margin-bottom: 1.37rem;
        }

        .weekendSubtitle {
            font-size: 2.75rem;
        }

        .accordion-button::after {
            margin-right: -2rem;
        }

        .accordionHeader {
            padding-left: 0.75rem !important;
            padding-right: 2.5rem !important;
        }

        button.accordion-button.collapsed::after {           
            padding: 0.75rem !important;
        }
        
        button.accordion-button::after {
            padding: 0.75rem !important;
        }

        .dailyWeatherImg {
            height: 128px;
            width: auto;
        }

        .dailyUVContainer {
            border-bottom: 3.65px solid #FF7722;
        }

        .dailyHumidContainer {
            border-bottom: 3.65px solid #FF7722;
        }
        
        .dailyCondMargin {
            margin-right: 2.7rem;
        }

        .dailyWeatherIcons {
            margin-right: 1rem;
        }

        
    /* FOOTER */
        .footerLinks {
            font-size: 2rem;
        }

        .connectWithUs {
            font-size: 2rem;
            margin-bottom: 1.75rem;
        }

        .socMediaLinks {
            padding: 1.25rem 0.9rem;
            margin-right: 0.5rem;

        }

        .socMediaIcons {
            font-size: 1.95rem;
        }
}





/* MIN WIDTH 2880px
   MacBook PRO 15"   */
@media only screen and (min-width: 2880px) {
    /* NAVBAR */
        .brandName {
            font-size: 3rem;
        }

        .navLinks {
            font-size: 2.48rem;
        }

        .navLinks:hover {
            font-size: 2.48rem;
        }

    
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 43.3rem;
            padding-top: 1.75rem;
            padding-bottom: 1.25rem;
            margin-top: 0.75rem;
            /* height: 2.5rem; */
            /* margin-top: 1.125rem; */
        }

        .autocomplete-dropdown-container {
            width: 43.3rem;
        }

        .location-search-input::placeholder {
            font-size: 2.06rem;
        }
        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 2.06rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.9rem;
        }

        .newsContainer {
            margin-top: 3.1rem;
        }

        .weatherNewsHeader{
            font-size: 4.5rem;
        }

        #articleImg {
            width: 38rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.5rem;
        }

        #articleTrailText {
            font-size: 2rem;
        }


    /* TODAY */

        /* CURRENT WEATHER */

        .currentTodayWeatherRows {
            margin-bottom: 2rem;
            padding-left: 1.7rem !important;
            padding-top: 1.7rem !important;
        }

        /* .weatherCard {
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;
        } */

        .cityToday {
            font-size: 2.7rem !important;
        }

        .currentTime {
            font-size: 2rem;
        }

        .descriptionToday {
            font-size: 4.1rem;
        }

        .currentTemp {
            font-size: 9.3rem;
        }

        #fahrenheit {
            font-size: 6.2rem;
            margin-right: 2rem;
        }

        .weatherImgToday {
            height: 280px;
            width: auto;
        }

        .feelsLike {
            font-size: 2.5rem;
        }

        .conditionsCol {
            padding: 5rem;     
        }

        .humidityCol {
            margin-left: 1.125rem;
            margin-right: 1.125rem;
        }

        .weatherIcons {
            font-size: 2.4rem;
        }

        .conditions {
            font-size: 2.6rem;
        }


        /* AQI AND UV INDEX  */

        .uvAICardsSection {
            padding-top: 2.6rem;
            padding-bottom: 2.6rem;
        }

        .aqiUvCardBody {
            padding: 2.25rem !important;
        }

        #aqiCircleColor {
            height: 41.6px;
            width: 41.6px;
        }
    
        #uvCircleColor {
            height: 41.6px;
            width: 41.6px;
        }

        .aqiUvTitle {
            font-size: 2.6rem !important;
        }

        .aqiUvSubtitle {
            font-size: 2.25rem !important;
        }

        .aqiUvText {
            font-size: 2.1rem !important;
        }

        .creditGovText {
            font-size: 1.6rem !important;
        }


        /* TODAYS WEATHER */

        #currentlyText {
            font-size: 2.7rem !important;
        }

        .popCol {
            margin-left: 0.56rem;
            margin-right: 0.56rem;
        }

        .cloudCoverCol {
            margin-left: 0.56rem;
            margin-right: 0.56rem;
        }

        .sunriseCol {
            margin-right: 0.84rem;
        }


        /* WORLD NEWS */

        .todayAside {
            padding: 2.3rem;
            height: 170rem;
        }

        .worldNewsHeadline {
            font-size: 3.1rem;
        }

        #articleHeadlineToday {
            font-size: 2.25rem;
        }

        #articleTextToday {
            font-size: 2.05rem;
        }

    
    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .accordionSection {
            margin-top: 3.1rem;
            margin-bottom: 3.1rem;
        }

        .forecastHeader {
            font-size: 3.9rem;
        }

        .cityName {
            font-size: 3.1rem;
        }

        .accordionItemMargin {
            margin-bottom: 1.54rem;
        }

        .weekendSubtitle {
            font-size: 3.1rem;
        }

        .accordion-button::after {
            margin-right: -2rem;
        }

        .accordionHeader {
            padding-left: 0.84rem !important;
            padding-right: 2.8rem !important;
        }

        button.accordion-button.collapsed::after {
            padding: 0.84rem !important;
        }
        
        button.accordion-button::after {
            padding: 0.84rem !important;
        }

        .dailyWeatherImg {
            height: 144px;
            width: auto;
        }

        .dailyUVContainer {
            border-bottom: 3.65px solid #FF7722;
        }

        .dailyHumidContainer {
            border-bottom: 3.65px solid #FF7722;
        }
        
        .dailyCondMargin {
            margin-right: 3rem;
        }

        .dailyWeatherIcons {
            margin-right: 1.125rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 2.25rem;
        }

        .connectWithUs {
            font-size: 2.25rem;
        }

        .socMediaLinks {
            padding: 1.4rem 1rem;
        }

        .socMediaIcons {
            font-size: 2.2rem;
        }
}




/* MIN WIDTH 3072px
   MacBook PRO 16"   */
@media only screen and (min-width: 3072px) {
    /* NAVBAR */
        .brandName {
            font-size: 3.3rem;
        }

        .navLinks {
            font-size: 2.64rem;
        }

        .navLinks:hover {
            font-size: 2.64rem;
        }

    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 46.2rem;
            height: 3rem;
            margin-top: 1.35rem;
        }

        .autocomplete-dropdown-container {
            width: 46.2rem;
        }

        .location-search-input::placeholder {
            font-size: 2.47rem; /* hides placeholder text when input is clicked */
        }
        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 2.47rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 2.3rem;
        }

        .newsContainer {
            margin-top: 3.72rem;
        }

        .weatherNewsHeader{
            font-size: 5.4rem;
        }

        #articleImg {
            width: 40.8rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.7rem;
        }

        #articleTrailText {
            font-size: 2.1rem;
        }


    /* TODAY */

        /* CURRENT WEATHER */

       /*  .currentTodayWeatherRows {
            margin-bottom: 2rem;
            padding-left: 1.7rem !important;
            padding-top: 1.7rem !important;
        } */

        /* .weatherCard {
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;
        } */

        .cityToday {
            font-size: 3.24rem !important;
        }

        .currentTime {
            font-size: 2.4rem;
        }

        .descriptionToday {
            font-size: 4.9rem;
        }

        .currentTemp {
            font-size: 11.6rem;
        }

        #fahrenheit {
            font-size: 7.4rem;
            margin-right: 2rem;
        }

        .weatherImgToday {
            height: 336px;
            width: auto;
        }

        .feelsLike {
            font-size: 3rem;
        }

        .conditionsCol {
            padding: 6rem;     
        }

        .humidityCol {
            margin-left: 1.35rem;
            margin-right: 1.35rem;
        }

        .weatherIcons {
            font-size: 2.9rem;
        }

        .conditions {
            font-size: 3.1rem;
        }


        /* AQI AND UV INDEX */

        .uvAICardsSection {
            padding-top: 3.12rem;
            padding-bottom: 3.12rem;
        }

        .aqiUvCardBody {
            padding: 2.7rem !important;
        }

        #aqiCircleColor {
            height: 50px;
            width: 50px;
        }
    
        #uvCircleColor {
            height: 50px;
            width: 50px;
        }

        .aqiUvTitle {
            font-size: 3.1rem !important;
        }

        .aqiUvSubtitle {
            font-size: 2.7rem !important;
        }

        .aqiUvText {
            font-size: 2.5rem !important;
        }

        .creditGovText {
            font-size: 1.9rem !important;
        }


        /* TODAYS WEATHER */
       
        #currentlyText {
            font-size: 3.24rem !important;
        }

        .popCol {
            margin-left: 0.67rem;
            margin-right: 0.67rem;
        }

        .cloudCoverCol {
            margin-left: 0.67rem;
            margin-right: 0.67rem;
        }

        .sunriseCol {
            margin-right: 1rem;
        }

       
        /* WORLD NEWS */

        .todayAside {
            padding: 2.3rem;
            height: 204rem;
        }

        .worldNewsHeadline {
            font-size: 3.7rem;
        }

        #articleHeadlineToday {
            font-size: 2.7rem;
        }

        #articleTextToday {
            font-size: 2.46rem;
        }

    
    /* FIVE DAY, 10 DAY, WEEKEND WEATHER */

        .accordionSection {
            margin-top: 3.72rem;
            margin-bottom: 3.72rem;
        }

        .forecastHeader {
            font-size: 4.68rem;
        }

        .cityName {
            font-size: 3.72rem;
        }

        .accordionItemMargin {
            margin-bottom: 1.85rem;
        }

        .weekendSubtitle {
            font-size: 3.72rem;
        }

        .accordion-button::after {
            margin-right: -3.2rem;
        }

        .accordionHeader {
            padding-left: 1rem !important;
            padding-right: 3.4rem !important;
        }

        button.accordion-button.collapsed::after {
            padding: 1rem !important;
        }
        
        button.accordion-button::after {
            padding: 1rem !important;
        }

        .dailyWeatherImg {
            height: 173px;
            width: auto;
        }

        .dailyUVContainer {
            border-bottom: 4.4px solid #FF7722;
        }

        .dailyHumidContainer {
            border-bottom: 4.4px solid #FF7722;
        }
        
        .dailyCondMargin {
            margin-right: 3.6rem;
        }

        .dailyWeatherIcons {
            margin-right: 1.35rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 2.4rem;
        }

        .connectWithUs {
            font-size: 2.4rem;
            margin-bottom: 2.25rem;
        }

        .socMediaLinks {
            padding: 1.75rem 1.05rem;

        }

        .socMediaIcons {
            font-size: 2.64rem;
        }
}












