
/* GENERAL */

.appContainer {
    overflow-x: hidden;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    
}

/* ALL content not part of the footer should go in a container */
.nonFooterWrapper{
    flex: 1 0 auto;
}

.pageContainer{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    background: rgb(108,193,182);
    background: -moz-linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    background: -webkit-linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    background: linear-gradient(104deg, rgba(108,193,182,1) 0%, rgba(9,89,133,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cc1b6",endColorstr="#095985",GradientType=1);

    /* background: rgb(5,117,230);
    background: -moz-linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    background: -webkit-linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    background: linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0575e6",endColorstr="#021b79",GradientType=1); */
}



/* ----------------------------------------------------------------- */


/* SEARCH NAV */

/* 
This is used bc my search input (.inputDropdownWrapper) needs to be absolutely 
positioned relative to this navbar (.mainNav) parent element. This allows the 
drop-down menu suggestions to overlay my content instead of it pushing my content 
downward to make space for itself
*/
.mainNav {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}


/*  
This is just a container around my <LocationSearchInput /> tag. It's a trick to help 
prevent my search input from overflowing it's parent Navbar (.mainNav) more especially 
on smaller screen widths (280px-575px.) Elements on page ignore absolutely positioned
elements, but this wrapper won't be ignored
*/
.searchInputTagWrapper {
    /* height: see media queries; */
    /* margin-top: see media queries; */
}


.brandName {
    color: white !important;
}

.navLinks {
    color: white !important;
}







/* ----------------------------------------------------------------- */


/* LOCATION SEARCH INPUT */

/* 
This allows the drop-down menu suggestions to overlay my content instead of it pushing 
my content downward to make space for itself
*/
.inputDropdownWrapper {
    position:absolute;
    z-index: 1;
}

.location-search-input {
    border-radius: 1rem;
    border: none;
    box-shadow: 1.5px 1.5px 5px 1px rgb(77, 77, 77);
    text-align: center; /* aligns placeholder & caret center */
    caret-color: teal;
}

.location-search-input:focus {
    /* outline: none; */
    outline-color: teal;
}

.location-search-input:focus::placeholder {
    color: transparent; /* hides placeholder text when input is clicked */
}
/* For IE Browsers */
.location-search-input:focus:-ms-input-placeholder {
    color: transparent;
}

.autocomplete-dropdown-container {
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    overflow: hidden; /* allows dropdown to take on border-radius shape */
}



/* ----------------------------------------------------------------- */


/* HOME */

.homeContainer {

/* VERY Blue */
/*     background: rgb(5,117,230);
    background: -moz-linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    background: -webkit-linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    background: linear-gradient(104deg, rgba(5,117,230,1) 19%, rgba(2,27,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0575e6",endColorstr="#021b79",GradientType=1); */


    /* Purple Background */
/*     background: rgb(88,95,227);
    background: -moz-linear-gradient(104deg, rgba(88,95,227,1) 0%, rgba(158,162,250,1) 90%);
    background: -webkit-linear-gradient(104deg, rgba(88,95,227,1) 0%, rgba(158,162,250,1) 90%);
    background: linear-gradient(104deg, rgba(88,95,227,1) 0%, rgba(158,162,250,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#585fe3",endColorstr="#9ea2fa",GradientType=1); */
    
    
    /* Orig Blue background */
/*  background: rgb(178,254,250);
    background: -moz-linear-gradient(104deg, rgba(178,254,250,1) 0%, rgba(14,210,247,1) 75%);
    background: -webkit-linear-gradient(104deg, rgba(178,254,250,1) 0%, rgba(14,210,247,1) 75%);
    background: linear-gradient(104deg, rgba(178,254,250,1) 0%, rgba(14,210,247,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2fefa",endColorstr="#0ed2f7",GradientType=1); */
}

.homeWeatherRow {
    color: black;
    background-color: #dadcfb60;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.newsContainer {
    width: 80vw;
    height: auto;
   /*  border: 3px solid #022538;
    border-radius: 1rem; */
    /* border: 3px solid #038E9C; */
}

#articleHeadline {
    text-align: center;
}

#articleTrailText {
    text-align: center;
}



/* ----------------------------------------------------------------- */


/* TODAY */

.weatherNewsContainer {
    width: 90vw;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    /* border: 3px solid #022538; */
}

.todayAside {
    border-radius: 1rem;
    background-color: #0F3D5C;
    /* background-color: #032030; */
   
   
    /* background-color: white; */
    /* border: 3px solid #FF7722; */
    /* height: 65vh; */
    /* overflow-x: none; */
    /* overflow-y: auto; */
}

.worldNewsHeadline {
    color: white;
}

.weatherCardCurrently {
    color: white;
    background-color: #0F3D5C !important;
    border-radius: 1rem !important;
    /* background-color: #032030 !important */;
}

.currentWeatherRow {
/*     background: rgb(6,58,86);
    background: -moz-linear-gradient(158deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: -webkit-linear-gradient(158deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: linear-gradient(158deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063a56",endColorstr="#91a8b5",GradientType=1); */

    background: rgb(15,61,92);
    background: -moz-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.currentTempContainer {
    position: relative;
    
}

/* .degSymbol {
    height: 10px;
    border: 2px solid white;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    left: 11.7rem;
    top: 2rem;
} */

/* .farSymbol {
    position: absolute;
    left: 11.9rem;
    top: 3.8rem 
} */

.windCol {
/*     background: rgb(6,58,86);
    background: -moz-linear-gradient(202deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: -webkit-linear-gradient(202deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: linear-gradient(202deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063a56",endColorstr="#91a8b5",GradientType=1); */

    background: rgb(15,61,92);
    background: -moz-linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(202deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

    border-radius: 0.5rem;
}

.humidityCol {
/*     background: rgb(6,58,86);
    background: -moz-linear-gradient(58deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: -webkit-linear-gradient(58deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: linear-gradient(58deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063a56",endColorstr="#91a8b5",GradientType=1); */

    background: rgb(15,61,92);
    background: -moz-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(58deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

    border-radius: 0.5rem;
}

.uvCol {
/*     background: rgb(6,58,86);
    background: -moz-linear-gradient(295deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: -webkit-linear-gradient(295deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    background: linear-gradient(295deg, rgba(6,58,86,1) 0%, rgba(145,168,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063a56",endColorstr="#91a8b5",GradientType=1); */

    background: rgb(15,61,92);
    background: -moz-linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: -webkit-linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    background: linear-gradient(295deg, rgba(15,61,92,1) 0%, rgba(108,193,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3d5c",endColorstr="#6cc1b6",GradientType=1);

    border-radius: 0.5rem;
}







/* ----------------------------------------------------------------- */


/* FOOTER */

.footer {
    flex-shrink: 0;
    padding: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

.footerLinks {
    color: white;
}

.footerLinks:hover {
    color: #FF7722;
}

.connectWithUs {
    color: white;
    font-weight: bold;
}

.socMediaLinks {
    color: #095985;
}

.socMediaLinks:hover {
    color: #FF7722;
}

.socMediaLinks {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}


/* ----------------------------------------------------------------- */



/* MEDIA QUERIES */


/*  MIN WIDTH 280px -- GALAXY FOLD  */
@media only screen and (min-width: 280px) {
    /* SEARCH NAV */
        .navBrandCol {
            order: 1;
        }

        .navFormCol {
            order: 3; 
        }

        .navToggleCol {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }

        .brandName {
            font-size: 1.3rem;
        }

        .searchInputTagWrapper {
            height: 2.5rem;
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
        }

        .navLinks:hover {
            font-size: 1.1rem;
            color: #FF7722 !important;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 15rem;
        }

        .autocomplete-dropdown-container {
            width: 15rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.05rem;
        }

        .imgWrap {
            display: flex;
            justify-content: center;
        }

        #articleImg {
            width: 10rem;
            height: auto;
        }


    /* TODAY */
        .weatherNewsContainer {
            flex-direction: column;
            margin-top: 1rem;
        }

        .weatherCardCurrently {
            width: 88vw;
        }

        .weatherImgContainer {
            order: 2;
            margin-left: 0.75rem;
        }

        .currentTemp {
            order: 1;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
        
        .conditionsCol {
           margin-bottom: 0.75rem;     
        }

        .conditionsContainer {
            padding: 1rem;
        }
        
        .newsCard {
            width: 75vw;
        }

        .worldNewsCol {
            margin-top: 2.5rem;
        }

        .todayAside {
            padding: 1.2rem;
        }

        #articleHeadlineToday {
            font-size: 1rem;
        }

        #articleTextToday {
            font-size: 0.8rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 1.1rem;
        }

        .connectWithUs {
            font-size: 1.1rem;
        }

        .socMediaIcons {
            font-size: 1.2rem;
        }

        .footerRight {
            margin-top: 1.5rem;
        }
}





/*  MIN WIDTH 320px  */
@media only screen and (min-width: 320px) {
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 1.8rem;
        }

    
    /* HOME */
        #articleImg {
            width: 11.5rem;
            height: auto;
        }
        
}





/*  MIN WIDTH 330px  */
@media only screen and (min-width: 320px) {
    /* TODAY */

        .humidityCol {
            margin-right: 0.5rem;
        }
        
}


/*  MIN WIDTH 342px  */
@media only screen and (min-width: 320px) {
    /* TODAY */

        .windCol {
            margin-right: 0.5rem;
        }

        .humidityCol {
            margin-right: 0rem;
        }
        
}





/* MIN WIDTH 375px MAX HEIGHT 823px 
   iPhone6/7/8/X, LG OptimusL70, Pixel2/2XL, Nexus5X  */
   @media only screen and (min-width: 375px) and (max-height: 823px) {
    /* NAVBAR */

}





/* WIDTH 412px HEIGHT 914 
   SAMSUNG GALAXY   */
@media only screen and (width: 412px) and (height: 914px) {
    /* NAVBAR */

}




/*  MIN WIDTH 448px  */
@media only screen and (min-width: 448px) {
    /* TODAY */
        .weatherCardCurrently {
            width: 85vw;
        }

        .newsCard {
            width: 60vw;
        }

        #articleTextToday {
            font-size: 0.9rem;
        }
}





/*  MIN WIDTH 494px  */
@media only screen and (min-width: 320px) {
    /* TODAY */

        .windCol {
            margin-right: 0.5rem;
        }

        .humidityCol {
            margin-right: 0.5rem;
        }
        
}





/*  MIN WIDTH 576px  */
@media only screen and (min-width: 576px) {
    /* NAVBAR */
        .navFormCol {
            order: 2; 
        }

        .navToggleCol {
            order: 3;
        }

        .searchInputTagWrapper {
            height: 0rem;
            margin-top: 0rem;
        }

        .navLinks {
            font-size: 1.05rem;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 2rem;
        }


    /* HOME */
        #articleImg {
            width: 13rem;
            height: auto;
        }


    /* TODAY */

        .cityStateCurrently {
            font-size: 1.06rem !important;
        }

        .descriptionCurrently {
            font-size: 1.2rem;
        }

        .currentTemp {
            font-size: 2.5rem;
        }

        #fahrenheit {
            font-size: 1.4rem;
        }

        .weatherIcons {
            font-size: 1.1rem;
        }

        .newsCard {
            width: 50vw;
        }

        #articleHeadlineToday {
            font-size: 1.1rem;
        }

        #articleTextToday {
            font-size: 0.9rem;
        }


    /* FOOTER */
        .footerCtrCol {
            display: flex;
            justify-content: center;
        }

        .footerRight {
            margin-top: 0rem;
        }

        .connectWithUs {
            display: flex;
            justify-content: flex-end;
        }

        .socMedIconContainer {
            display: flex;
            justify-content: flex-end;
        }
}





/*  MIN WIDTH 768px  */
@media only screen and (min-width: 768px) {
    /* NAVBAR */
        .navToggleCol {
            /* display: none; */
            visibility: hidden;
        }

        .brandName {
            font-size: 1.4rem;
        }

        .navLinksWrapper {
            display: flex;
            justify-content: space-around;
        }

        .navLinks {
            font-size: 1.1rem;
        }

        .navLinks:hover {
            border-bottom: 3px solid #FF7722;
            padding-bottom: 3px;
            font-size: 1.1rem;
            color: white !important;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 17rem;
        }

        .autocomplete-dropdown-container {
            width: 17rem;
        }


    /* HOME */
        #articleImg {
            width: 14.5rem;
            height: auto;
        }


    /* TODAY */
        .weatherCardCurrently {
            width: 78vw;
        }

        .cityStateCurrently {
            font-size: 1.12rem !important;
        }

        .descriptionCurrently {
            font-size: 1.4rem;
        }

        .currentTemp {
            font-size: 3rem;
        }

        #fahrenheit {
            font-size: 1.8rem;
        }

        .feelsLike {
            font-size: 1.1rem;
        }

        .windCol {
            margin-right: 1rem;
        }

        .humidityCol {
            margin-right: 1rem;
        }

        .conditions {
            font-size: 1.12rem;
        }

        .newsCard {
            width: 40vw;
        }

        #articleHeadlineToday {
            font-size: 1.1rem;
        }

        #articleTextToday {
            font-size: 1rem;
        }
}





/* WIDTH 768px HEIGHT 1024px 
   iPAD MINI   */
   @media only screen and (width: 768px) and (height: 1024px) {
    /* HOME */

}





/* WIDTH 800px HEIGHT 1280px
   Kindle Fire HDX, NEXUS 10   */
@media only screen and (width: 800px) and (height: 1280px) {
    /* HOME */

}





/* WIDTH 820px HEIGHT 1180px 
   iPAD AIR   */
@media only screen and (width: 820px) and (height: 1180px) {
    /* HOME */

}





/* WIDTH 912px HEIGHT 1368px 
   SURFACE PRO 7    */
   @media only screen and (width: 912px) and (height: 1368px) {
    /* HOME */

}





/*  MIN WIDTH 992px  */
@media only screen and (min-width: 992px) {
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            height: 2.1rem;
        } 
        
        
    /* HOME */
        #articleImg {
            width: 16rem;
            height: auto;
        }

        .imgWrap {
            justify-content: flex-start;
            align-items: center;
        }


    /* TODAY */

        .weatherNewsContainer {
            flex-direction: row;
        }

        .weatherCardCurrently {
            width: 62vw;
        }

        .cityStateCurrently {
            font-size: 1.18rem !important;
        }

        .descriptionCurrently {
            font-size: 1.6rem;
        }

        .currentTemp {
            font-size: 3.5rem;
        }

        #fahrenheit {
            font-size: 2.2rem;
        }

        .weatherIcons {
            font-size: 1.2rem;
        }

        .worldNewsCol {
            margin-top: 0rem;
        }

        .todayAside {
            height: 60vh;
            overflow-x: none;
            overflow-y: auto;            
        }

        .newsCard {
            width: 17vw;
        }

}





/* WIDTH 1024px / HEIGHT 600px  
   NEST HUB   */
   @media only screen and (width: 1024px) and (height: 600px) {
    /* HOME */

}





/* WIDTH 1024px HEIGHT 1366px
   iPad Pro  */
@media only screen and (width: 1024px) and (height: 1366px) {
    /* HOME */

}





/*  MIN WIDTH 1200px  */
@media only screen and (min-width: 1200px) {
    /* NAVBAR */
        .navLinks {
            font-size: 1.15rem;
        }

        .navLinks:hover {
            font-size: 1.15rem;
        }


    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 19rem;
        }

        .autocomplete-dropdown-container {
            width: 19rem;
        }


    /* HOME */
        #articleImg {
            width: 17.5rem;
            height: auto;
        }


    /* TODAY */

        .cityStateCurrently {
            font-size: 1.24rem !important;
        }

        .descriptionCurrently {
            font-size: 1.8rem;
        }

        .currentTemp {
            font-size: 4rem;
        }

        #fahrenheit {
            font-size: 2.6rem;
        }

        .conditionsContainer {
            padding: 1.75rem
        }

        .newsCard {
            width: 14vw;
        }
}





/* WIDTH 1280px HEIGHT 800px  
   NEST HUB MAX  */
   @media only screen and (width: 1280px) and (height: 800px) {
    /* HOME */

 }





/*  MIN WIDTH 1400px  */
@media only screen and (min-width: 1400px) {
    /* NAVBAR */
        .brandName {
            font-size: 1.5rem;
        }

        .navLinks {
            font-size: 1.2rem;
        }

        .navLinks:hover {
            font-size: 1.2rem;
        }
        

    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 21rem;
        }

        .autocomplete-dropdown-container {
            width: 21rem;
        }


    /* HOME */
        #articleImg {
            width: 19rem;
            height: auto;
        }
    
    /* TODAY CURRENTLY */
        .cityStateCurrently {
            font-size: 1.3rem !important;
        }

        .descriptionCurrently {
            font-size: 2rem;
        }

        .currentTemp {
            font-size: 4.5rem;
        }

        #fahrenheit {
            font-size: 3rem;
            margin-top: 0.5rem;
        }

        .feelsLike {
            font-size: 1.2rem;
        }

        .conditionsContainer {
            padding: 2.5rem;
        }

        .weatherIcons {
            font-size: 1.3rem;
        }

        .conditions {
            font-size: 1.25rem;
        }

        

    /* TODAY */
    

}





/* MIN WIDTH 2560px
   MacBook PRO 13"   */
@media only screen and (min-width: 2560px) {
    /* NAVBAR */
        .brandName {
            font-size: 2.75rem;
        }

        .navLinks {
            font-size: 2.2rem;
        }

        .navLinks:hover {
            font-size: 2.2rem;
        }

    
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 38.5rem;
            height: 2.5rem;
        }

        .autocomplete-dropdown-container {
            width: 38.5rem;
        }

        .location-search-input::placeholder {
            font-size: 1.25rem; /* hides placeholder text when input is clicked */
        }
        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 1.25rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.7rem;
        }

        .weatherNewsHeader{
            font-size: 3.25rem;
        }

        #articleImg {
            width: 34rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.25rem;
        }

        #articleTrailText {
            font-size: 1.75rem;
        }


    /* TODAY */
        .todayAside {
            padding: 2.1rem;
        }

        .worldNewsHeadline {
            font-size: 2.75rem;
        }

        #articleHeadlineToday {
            font-size: 2rem;
        }

        #articleTextToday {
            font-size: 1.83rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 2rem;
        }

        .connectWithUs {
            font-size: 2rem;
            margin-bottom: 1.75rem;
        }

        .socMediaLinks {
            padding: 1.25rem 0.9rem;
            margin-right: 0.5rem;

        }

        .socMediaIcons {
            font-size: 1.95rem;
        }
}





/* MIN WIDTH 2880px
   MacBook PRO 15"   */
@media only screen and (min-width: 2880px) {
    /* NAVBAR */
        .brandName {
            font-size: 3rem;
        }

        .navLinks {
            font-size: 2.48rem;
        }

        .navLinks:hover {
            font-size: 2.48rem;
        }

    
    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 43.3rem;
            height: 2.5rem;
        }

        .autocomplete-dropdown-container {
            width: 43.3rem;
        }

        .location-search-input::placeholder {
            font-size: 1.4rem; /* hides placeholder text when input is clicked */
        }
        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 1.4rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 1.9rem;
        }

        .weatherNewsHeader{
            font-size: 3.65rem;
        }

        #articleImg {
            width: 38rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.5rem;
        }

        #articleTrailText {
            font-size: 2rem;
        }


    /* TODAY */
        .worldNewsHeadline {
            font-size: 3.1rem;
        }

        #articleHeadlineToday {
            font-size: 2.25rem;
        }

        #articleTextToday {
            font-size: 2.05rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 2.25rem;
        }

        .connectWithUs {
            font-size: 2.25rem;
        }

        .socMediaLinks {
            padding: 1.4rem 1rem;
        }

        .socMediaIcons {
            font-size: 2.2rem;
        }
}




/* MIN WIDTH 3072px
   MacBook PRO 16"   */
@media only screen and (min-width: 3072px) {
    /* NAVBAR */
        .brandName {
            font-size: 3.3rem;
        }

        .navLinks {
            font-size: 2.64rem;
        }

        .navLinks:hover {
            font-size: 2.64rem;
        }

    /* LOCATION SEARCH INPUT */
        .location-search-input {
            width: 46.2rem;
            height: 3rem;
        }

        .autocomplete-dropdown-container {
            width: 46.2rem;
        }

        .location-search-input::placeholder {
            font-size: 1.5rem; /* hides placeholder text when input is clicked */
        }
        /* For IE Browsers */
        .location-search-input:-ms-input-placeholder {
            font-size: 1.5rem;
        }


    /* HOME */
        .homeWeather {
            font-size: 2rem;
        }

        .weatherNewsHeader{
            font-size: 3.9rem;
        }

        #articleImg {
            width: 40.8rem;
            height: auto;
        }

        #articleHeadline {
            font-size: 2.7rem;
        }

        #articleTrailText {
            font-size: 2.1rem;
        }


    /* TODAY */
        .worldNewsHeadline {
            font-size: 3.7rem;
        }

        #articleHeadlineToday {
            font-size: 2.7rem;
        }

        #articleTextToday {
            font-size: 2.46rem;
        }


    /* FOOTER */
        .footerLinks {
            font-size: 2.4rem;
        }

        .connectWithUs {
            font-size: 2.4rem;
            margin-bottom: 2.25rem;
        }

        .socMediaLinks {
            padding: 1.75rem 1.05rem;

        }

        .socMediaIcons {
            font-size: 2.64rem;
        }
}












